@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$colorYellow : #F1C40E;
$colorBlack : #000000;
$colorWhite : #FFFFFF;
$colorDarkGrey : #9E9E9E;
$colorLightgrey : #D4D4D4;
$colorDarkwhite : #FBFBFB;
$poppins : 'Poppins', sans-serif;









